<h3 class="mb-4">Tu compra</h3>
<table class="table align-middle">
    <thead>
        <tr>
            <th>Producto</th>
            <th class="text-center">Precio</th>
            <th class="text-center">Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Silla Azul Vervena XL<br>
                <img src="https://img.freepik.com/free-psd/armchair-pillow_176382-870.jpg?size=338&ext=jpg" height="100" width="100">



            </td>
            <td class="text-center">$450.000</td>
            <td class="text-center">1</td>
        </tr>
        <tr>
            <td>Silla Azul Vervena XL<br>
                <img src="https://img.freepik.com/free-psd/armchair-pillow_176382-870.jpg?size=338&ext=jpg" height="100" width="100">

            </td>
            <td class="text-center">$450.000</td>
            <td class="text-center">1</td>
        </tr>
        <tr>
            <td>Silla Azul Vervena XL<br>
                <img src="https://img.freepik.com/free-psd/armchair-pillow_176382-870.jpg?size=338&ext=jpg" height="100" width="100">

            </td>
            <td class="text-center">$450.000</td>
            <td class="text-center">1</td>
        </tr>
        <tr>
            <td style="border-top:2px solid black"><b>Total</b></td>
            <td style="border-top:2px solid black" class="text-center"><b>$1.350.000</b></td>
            <td style="border-top:2px solid black" class="text-center"><b>3</b></td>
        </tr>
    </tbody>
</table>