<section class="py-4">
    <div class="container">
        <h2 class="mb-3">Ficha técnica del producto</h2>

        <style>
            .tabla-1 td, .tabla-1 th{
                border-bottom:1px solid #bdbdbd;
                padding:.5rem;
            }
            .tabla-1 th{
                background: linear-gradient(to bottom, #eee, #aaa);
            }

            .tabla-1 .salto-linea td{
                background: lightblue;
            }

            .tabla-1 .btn span.material-symbols-outlined{
                position: relative;
                top:5px;
            }

        </style>
        
        <table class="table">
            <thead>
                <!-- Table row -->
                <tr>
                    <!-- Table heading -->
                    <th>Referencia</th>
                    <th>Características</th>
                    <th>Observaciones</th>
                    <th style="min-width:150px;">Más información</th>
                </tr>
            </thead>
            <tbody>
                <caption>Monthly savings</caption>
                <tr>
                    <td>Azul marino</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>
                    <td>
                        <a href="/" target="_blank" class="btn btn-default">Seguir link
                            <span class="material-symbols-outlined">
                            open_in_new
                            </span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Verde oliva</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>
                    <td>
                        <a href="/" target="_blank" class="btn btn-default">Seguir link 
                            <span class="material-symbols-outlined">
                            open_in_new
                            </span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Beige</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>
                    <td>
                        <a href="/" target="_blank" class="btn btn-default">
                            Seguir link
                            <span class="material-symbols-outlined">open_in_new</span>
                        </a>
                    </td>
                </tr>
                <tr class="salto-linea">
                    <td colspan="4">Características de cuidado</td>
                </tr>
                <tr>
                    <td>Azul marino</td>
                    <td colspan="3">Lorem ipsum dolor sit amet, <b>consectetur adipiscing elit,</b> sed do eiusmod tempor <i>incididunt ut labore et</i> dolore magna aliqua</td>
                </tr>
                <tr>
                    <td>Verde oliva</td>
                    <td rowspan="2" colspan="3">Lorem ipsum <span class="secondary">dolor sit amet, consectetur adipiscing elit,</span>  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>
                </tr>
                <tr>
                    <td>Beige</td>
                </tr>
            </tbody>
        </table>








    </div>
</section>