<header class="border-bottom py-3 px-3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-md-3 d-flex align-items-center">
                <span onclick="toggleMenu()" style="cursor: pointer" class="material-symbols-outlined primary">
                    menu
                    </span>
                <a href="/">
                    <h3 class="ms-3 logo">DesignTX<span class="dot">.</span></h3>
                </a>
            </div>
            <div class="d-none d-md-block col">
                <a class="nav-link" href="/catalogo">Catálogo</a>
            </div>
            <div class="d-none d-md-block col">
                <a class="nav-link" href="/producto">Producto</a>
            </div>
            <div class="col-10 col-md-5">
                <input type="search" placeholder="Buscar producto">
            </div>
            <div class="col-2 col-md">
                <a class="nav-link d-flex" href="/checkout">
                    <span class="material-symbols-outlined">
                        shopping_bag
                    </span>
                    <div>3</div>
                </a>
            </div>
            <div class="d-none d-md-block col">Login</div>
        </div>
    </div>
</header>
<aside id="menu-lateral" class="menu-lateral p-4">
    <div class="py-3 d-flex">
        <span class="material-symbols-outlined secondary mr-4">shopping_bag</span>
        <a class="primary" href="/catalogo">Catálogo</a>
    </div>
    <div class="py-3">
        <span class="material-symbols-outlined secondary mr-4">shopping_bag</span>
        <a class="primary" href="/producto">Producto</a>
    </div>
    <div class="py-3">
        <span class="material-symbols-outlined secondary mr-4">shopping_bag</span>
        <a class="primary" href="/">Login</a>
    </div>
</aside>
<div id="menu-overlay" class="menu-overlay" style="cursor:pointer;" onclick="toggleMenu()"></div>

<script>
    function toggleMenu(){
        document.getElementById('menu-lateral').classList.toggle('active');
        document.getElementById('menu-overlay').classList.toggle('active');
    }
</script>

