<header class="border-bottom py-3 px-3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-3 d-flex align-items-center">
                <span class="material-symbols-outlined primary">
                    menu
                    </span>
                    <a href="/">
                <h3 class="ms-3">DesignTX<span class="dot">.</span></h1>
                </a>
                    
            </div>
            <div class="col">
                <a class="nav-link" href="/catalogo">Catálogo</a>
            </div>
            <div class="col">
                <a class="nav-link" href="/producto">Producto</a>
            </div>
            <div class="col-5">
                <input type="search" placeholder="Buscar producto">
            </div>
            <div class="col">
                <a class="nav-link d-flex" href="/checkout">
                    <span class="material-symbols-outlined">
                        shopping_bag
                    </span>
                    <div>3</div>
                </a>
            </div>
            <div class="col">Login</div>
        </div>
    </div>            
</header>