{% extends 'layout.html' %}
{% import 'macros/macros.html' as macros %}


{% block main %}
    <section class="py-5">
        <div class="px-5">
            <div class="gridCatalog">
                <div>
                    <h2>Filtros</h2>
                    <p><b>Categorías</b></p>

                    {% for item in categories %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{ item.slug }}" id="category-{{ item.slug }}">
                            <label class="form-check-label" for="category-{{ item.slug }}">
                               {{ item.label }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div>
                    <div class="gridProductos">
                        {% for item in products %}
                            {{ macros.productPreview(item) }}
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}