{% macro productPreview(item) %}
    <div class="productPreview">
            <img src="{{ item.image }}">
            <div class="px-2">
                <h5>{{ item.title }}</h5>
                <p>{{ item.text }}</p>
                <div class="d-flex justify-content-between">
                    <p class="price">{{ item.price }}</p>
                    <div class="add-to-cart">
                        <span class="material-symbols-outlined">
                            add_shopping_cart
                            </span>
                    </div>
                </div>
            </div>
        </div>
{% endmacro %}