:root{
    --primary: #2B4865;
    --secondary: #256D85;
    --accent: #8FE3CF;
    --text-color: #555;
    --bg-gray: #f4f5f6;
    --border-color: #bdbdbd;
}

body{
    font-family: 'Inter', sans-serif;
}

/* --- Contenido */
h1, .h1{
    font-size: 32px;
    color: var(--secondary);
    font-weight: bold;
}

h2, .h2{
    font-size:27px;
    color: var(--secondary);
    font-weight: bold;
}

h3, .h3{
    font-size:27px;
    font-weight: bold;
    color: var(--secondary);
}

p, .p, li{
    font-size: 18px;
    color: var(--text-color);
    line-height: 1.4;
}

a{
    font-size: 17px;
    color: var(--accent);
    text-decoration: none;
}

button{
    background-color: var(--accent);
    color: white;
    font-size:20px;
    font-weight: bold;
}

.white{
    color: white;
}

.primary{
    color: var(--primary);
}