section{
    width:100%;
}

.bloque-izquierda, .bloque-derecha{
    width:50%;
}


#main-header{
    background-color: #f2f2f2;
}

.nav-link{
   color: var(--secondary); 
}


.home-banner{
    max-width: 100%;
}


input[type=search]{
    height: 40px;
    border: none;
    width: 100%;
    border-radius:0;
    border-bottom: 1px solid var(--accent);
}

.home-1{
    background: linear-gradient(to bottom, #ddd, white);
}

.cover-content{
    margin-top: 150px;
}

.blueprint{
    border:1px solid blue;
}


.header-2{
   display: flex;
   justify-content: space-between;
}

.header-2, .header-2 div{
border: 1px solid blue;
}

.header-2 div{
    height:50px;
    display: block;
}

.gridProductos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:1rem;
}

.productPreview img{
    max-width: 100%;
    border-radius:1rem;
    margin-bottom:1rem;
    aspect-ratio: 300 / 250;
}

.productPreview{
    border:1px solid var(--border-color);
    border-radius: 1rem;
    padding:1rem;
}