section{
    width:100%;
}

.bloque-izquierda, .bloque-derecha{
    width:50%;
}


#main-header{
    background-color: #f2f2f2;
}

.nav-link{
   color: var(--secondary); 
}


.home-banner{
    max-width: 100%;
}


input[type=search]{
    height: 40px;
    border: none;
    width: 100%;
    border-radius:0;
    border-bottom: 1px solid var(--accent);
}

.home-1{
    background: linear-gradient(to bottom, #ddd, white);
}

.cover-content{
    margin-top: 150px;
}

.blueprint{
    border:1px solid blue;
}


.header-2{
   display: flex;
   justify-content: space-between;
}

.header-2, .header-2 div{
border: 1px solid blue;
}

.header-2 div{
    height:50px;
    display: block;
}


.gridCover{
    display: grid;
    grid-template-columns: 5fr 7fr;
}

.gridProductos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:1rem;
}

.productPreview img{
    max-width: 100%;
    border-radius: 3px;
    margin-bottom:1rem;
    aspect-ratio: 300 / 200;
}

.productPreview{
    border:1px solid #ddd;
    border-radius: 3px;
}

.productPreview .add-to-cart{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:.5rem;
    cursor: pointer;
}

.productPreview .add-to-cart:hover{
    border:none;
    background-color: var(--bg-gray);
}

.dot{
    color: var(--accent);
}

.color{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 1rem;
    background: red;
    cursor: pointer;
}


.checkout-steps small{
    background-color: var(--bg-gray);
    padding:.5rem 1rem;
    border:1px solid #bdbdbd;
    border-radius:2rem;
}

.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1.5rem
}